body { background : #441100; margin:0; font-family: Helvetica, sans-serif; }
h1#title { display:block; color: #664000; position: absolute; font-size: 50px; margin:0; padding:0; top: -15px; right:0; z-index:-100; font-family: serif;}
#footer { color: #664000; text-align: center; margin: 5px; }

#page { display:block; background : #ffeeee; z-index: 20; margin:0; padding: 10px 15px; }

.tag_list { line-height: 2em; font-size: 0.8em; font-weight: bold; }
a.tag { font-weight:normal; color:#cff; background: #06c; text-decoration:none; padding: 3px 3px; text-shadow: 0 1px 0 #024;
    border-radius: 2px; }
a.tag:hover { background:#04a; }

.imageriver { text-align: center; }
.image { position:relative; display: inline-block; }
.image { margin: 0; padding:0;}
.image a { text-decoration:none; margin: 0; padding:0;}
.image img { text-decoration:none; margin: 0;}
.image a.viewlink { display:none; }
.image:hover a.viewlink { display:block; position:absolute; right:0; bottom:0; }

.button_bar { margin:0; margin-top:30px; padding-left: 25px; }
.button_bar li { display:inline; }
.button_bar a { padding: 4px; display: inline-block; background: #111; color: #ffe; text-decoration: none;}
.button_bar a:hover { background: #171717; }
.button_bar form { display:inline; }
.button_bar form input { background: white; border: 1px solid #222; margin: 0px 25px; width:240px; }

.secret { opacity: 0; }
.secret:hover { opacity: 1; }

.autocomplete_list { background: #eee; color: #011; border:1px solid black; list-style-type: none;
    margin: 0; padding: 0; font-size: 0.8em;}
.autocomplete_list li {cursor: pointer;list-style-type: none; margin: 0; padding: 3px 5px;}
.autocomplete_list li:hover, .autocomplete_list li.active {background: #07d; color:white;}
.autocomplete_list .synonym {font-size:0.9em; color: #9aa; margin-left: 6px;}

.source-link { color:#06c; text-shadow: 0 1px 0 #fff;}
.source-link:hover { color:#04a; }


#edit-link { padding:5px; font-size: 0.6em; background: #ddd; text-shadow: 0 1px 0 #fff; border: 1px solid #888; color: #03d;}
#edit-link:hover {text-shadow: 0 1px 0 #eee;}
#edit-link.hidden,
.edit-box.hidden {display:none;}
